{% extends 'base.html' %}

{% block content %}
    <header>

        {% include "base_menu_navigation.html" %}

    </header>

    <section class="login-page">

        <h2>Załóż konto</h2>
        <form method="post">
            {% csrf_token %}
            {% for element in form %}
                <div class="form-group">
                    {{ element }}
                    {{ element.errors }}
                </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <a class="btn btn--without-border" href={% url 'login' %}>Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>
{% endblock %}